
<a href="#" data-reveal-id="new-modal"><%= image_tag("add.png") %></a>
<div class="reveal-modal" id="new-modal" data-reveal>
	<div ng-app='app.calendarApp' ng-controller='CalendarCtrl'>
		<a class="close-reveal-modal"></a>
		<h1>My Events</h1>
		{{ title }}
	</div>
</div>
