<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<!-- Change 'WES' below to <%= @user %> -->
    <h1>This is a notification email for WES</h1>
    <p>
      Sample mail sent using smtp.
    </p>
  </body>
</html>