<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <p>Hello <%= @user.email %>,</p>
    <br>
    <p>This is a friendly reminder regarding your event: <em><%= @event.title %></em></p>
    <p>Don't forget about it!</p>
  </body>
</html>