<h1>My Groups</h1>
<!--<p>Find me in app/views/groups/index.html.erb</p>-->
<%= link_to 'New Group', new_group_path %><br>
<tbody>
<% @groups.each do |group|%>
<tr>
	<td><strong>Group Title: </strong><%=group.title %></td><br>
	<td><strong>Group Description: </strong><%=group.description %></td><br>
	<td><strong>Group Members: </strong></td><br>
	<ul>
		<% group.memberships.each do |m| %>
			<% u_id = m.member_id %>
			<% user = User.where(id: u_id) %>
			<li><%= user %> </li>
			<!-- TODO: Print out member names, not the raw user -->
		<% end %>
	</ul>
	<br>
</tr>
<%end%>
</tbody>