<%# This renders the actual graphical calendar (fullcalendar.js) %>
<%# See assets/javascripts/events.js.erb %>
<% content_for :calendar do %>
	<%= link_to image_tag("add.png"), new_event_path, id: "new_event_button" %>
	<br>
	<br>
	<div id="calendar"><script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.min.js'></script></div>
<% end %>