<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.min.js' %>
<%=wicked_pdf_stylesheet_link_tag "calendar"%>
<%= wicked_pdf_javascript_include_tag "graphic_calendar" %>

<h2>Events that are in the range</h2>




