<div class="field">
  <%= label :recurrence, 'Repeat:' %><br>
  <%= f.select :recurrence, options_for_select(RepetitionScheme.recurrences.keys.map {|r| [r.humanize, r]}) %>
</div>
<div class="field">
  <%= label :until, 'Until Date:' %><br>
  <%= f.text_field :until_date, class: 'datetimepicker' %>
</div>