/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui/datepicker
 *= require jquery.datetimepicker
 *= require fullcalendar
 *= require_tree .
 *= require_self
 //= require foundation_and_overrides

 */

#user_nav {
	padding-top: 5px;
	padding-right: 20px;
	font-size: small;
	text-align: right;
	vertical-align: middle;
	color: #FFFFFF;
	height: 30px;
	background-color: #999999;
}

.user_nav_link {
	color: #FFCCCC;
}
.user_nav_link:hover {
	color: #FFFFFF;
	background-color: #999999;
}

#navigation { float: left; width: 180px; min-height: 480px; padding: 10px;
  background: #94B26F; color: #4C2516; }
#navigation ul { list-style: none; margin: 0; padding: 0; }
#navigation ul li { margin-bottom: 0.5em; }

#display { padding-left: 100px; padding-right: 100px; }
#display h2 { width: 100%; text-align: center; }

#errorExplanation { width: 400px; padding: 0; margin: 0 auto 1.5em;
  border: 1px solid #AA0000; background-color: #FFFFFF; font-size: 12px; }
#errorExplanation h2 { font-weight: bold; font-size: 12px;
  padding: 5px 5px 5px 15px; margin: 0; width: 380px;
  background-color: #AA0000; color: #FFFFFF; }
#errorExplanation p { color: #333333; margin: 0; padding: 3px 0.5em; }
#errorExplanation ul { margin-top: 0; }
#errorExplanation ul li { list-style: square; }
