// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_event_button {
	color: #555555;
	font-size: 15pt;
}

#visibility_list {
	border-style: solid ;
	border-color: rgb(6,9,66);
	background-color: #CCDDEE;
	padding: 10pt;
}

#new-event-modal {
	width: 50%;
	zoom: 0.9; /* Old IE only */
	transform: scale(0.9);
}