<h1>Mass Event Creation</h1>

<div>
  To create several events, input at each line the event type with its
  respective parameters separated by a semicolon (;).
  <h3>Event type</h3>
  <p>Your choice of type of event you want to create, can be <em>regular, to-do, request</em>, or <em>slot</em></p>
  <hr>
  <h3>Regular events</h3>
  <p>The parameters that you can include for a regular event are as follows</p>
</div>
