  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= javascript_include_tag "application", 'data-turbolinks-track' => false %>
    <%= csrf_meta_tags %>
	
  </head>
<body>
	<a class="close-reveal-modal"><i class="fi-x large"></i></a>
	 <%= yield %>
</body>